<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "https: //fonts.googleapis.com/css2? family = Roboto: wght @ 300 & display = swap "rel =" stylesheet ">

    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />



    <title>MercadoLiebre</title>
</head>
<body>

    <header>

        <div class="top-header">


           


        <div class="logo-barra">

           
      <div class="logo">
       <img src="images/logo-mercado-liebre.svg" alt="logo de mercado liebre">
        </div>

       <div class="form" action="#" method="GET">

            <div class="input">Buscar productos</div>
            <div class="submit"><i class="fas fa-search"></i></div>
    
       </div>


    
       <p class="compra-en-cuotas"> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito </p>
    </div>





        
</div>
       

    <nav>

        <div class="listas">

        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        
        
        <ul>
            <li><a href="/registro">Crea tu cuenta <i class="far fa-id-card"></i></li></a></li>
            <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>

    </div>

    </nav>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>



    </header>



<section class="banner">

    <img src="images/img-home-banner.jpg" alt="banner" >
</section>



    <main>
        <br><br>
        <h3>Basado en tu ultima visita</h3>
        <br>
        <section>
            


            



            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" width="360">

                <div class="caja-detalle">

                    <i class="fas fa-truck"></i>


                    <div class="precio-descuento">

                <p class="precio">$6.770</p>

                <p class="descuento">40% off</p>


                        </div>

                <h4>Cafetera Moulinex</h4>
            </div>

                </article>
            

            </article>


            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen de computadora" width="360">

                <div class="caja-detalle">

                    
                    <i class="fas fa-truck"></i>


                    <div class="precio-descuento">

                <p class="precio">$230.000</p>

                <p class="descuento">20% off</p>

                </div>

                <h4>MacBook Pro 2019</h4>

                </div>
            </article>


            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen " width="360">
                
                <div class="caja-detalle">
                    <i class="fas fa-truck"></i>

                    <div class="precio-descuento">
                <p class="precio">$70.500</p>

                <p class="descuento">10% off</p>

                </div>

                <h4>Samsung Galaxy s10</h4>

                </div>
            </article>


            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen " width="360">

                <div class="caja-detalle">
                    <i class="fas fa-truck"></i>


                    <div class="precio-descuento">
                <p class="precio">$23.200</p>

                <p class="descuento">5% off</p>
                    </div>
                <h4>SmartTv Samsung "43</h4>

                </div>


            </article>

            
        </section>

        

        <br>
        <h3>Seccion de Ofertas</h3>  
        <br>
        <section>
              


           
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" width="360">

                <div class="caja-detalle">
                    <i class="fas fa-truck"></i>

                    <div class="precio-descuento">
                <p class="precio">$6.770</p>

                <p class="descuento">40% off</p>

                </div>

                <h4>Cafetera Moulinex</h4>

                </div>
            </article>



            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="imagen de computadora" width="360">

                <div class="caja-detalle">
                    <i class="fas fa-truck"></i>

                    <div class="precio-descuento">
                        
                <p class="precio">$230.000</p>

                <p class="descuento">20% off</p>

                </div>

                <h4>MacBook Pro 2019</h4>

                </div>
            </article>



            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen " width="360">

                <div class="caja-detalle">
                    <i class="fas fa-truck"></i>

                    <div class="precio-descuento">
                <p class="precio">$70.500</p>

                <p class="descuento">10% off</p>

                </div>

                <h4>Samsung Galaxy s10</h4>

                </div>
            </article>


            <article>
                <img src="images/img-tv-samsung-smart.jpg" alt="imagen " width="360">

                <div class="caja-detalle">
                    <i class="fas fa-truck"></i>


                    <div class="precio-descuento">

                <p class="precio">$23.200</p>

                <p class="descuento">5% off</p>
</div>
                <h4>SmartTv Samsung "43</h4>

                </div>
            </article>
            

        </section>




    </main>



    <footer>

        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con mercado liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
            </article>


            <article>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.<p>
            </article>

            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.<p>
            </article>
           

        </section>

        <article class="derechos">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </article>

    </footer>

   
</body>
</html>